.container {
    padding: 10px;
    box-shadow: 4px 4px 8px gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>hr {
    width: 80%;
    margin: 10px 0;
}

.container>p {
    text-align: center;
    color: gray;
}